.card {
  display: block;
  width: 220px;
  padding: 20px 20px 40px;
  background-color: #fff;
  border-radius: 24px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #d0021b;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  }
}

.card__image {
  width: 80px;
  height: 80px;
}

.card__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 10px;
}
