.footer {
  width: 408px;
  font-size: 14px;

  @media (max-width: 320px) {
    width: 90%;
  }

  &__text {
    color: #969696;
  
    @media (max-width: 320px) {
      font-size: 14px;
      width: 80%;
      margin: 0 auto;
    }
  }
  
  &__list {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  &__item {
    position: relative;
  }
  
  &__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $c-red;
    opacity: 0;
  }
  
  &__link {
    color: $c-red;
    &:hover {
      &::after {
        opacity: 0.6;
      }
    }
  }
}
