.page {
  width: 1440px;
  margin: 0 auto;
}

.page__nav {
  padding: 0 250px;
}

.page__main-section {
  margin: 80px auto 0;
}

.page__recently {
  margin: 80px auto 0;
}

.page__most-popular {
  margin: 80px auto 0;
}

.page__footer {
  margin: 0 auto 30px;
}
