.r2-btn {
  width: 230px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    color: white;
  }
}

.r2-btn_aqua {
  color: #50e3c2;
  background-color: rgba($color: #50e3c2, $alpha: 0.1);

  &:hover {
    background-color: rgba($color: #50e3c2, $alpha: 1);
  }
}

.r2-btn_red {
  color: #d0021b;
  background-color: rgba($color:#d0021b, $alpha: 0.1);

  &:hover {
    background-color: rgba($color:#d0021b, $alpha: 1);
  }
}
